name: Build testing

on:
  workflow_call:

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Pre-build Client
      - name: Test Build Client
        run: |
          npm install
          npm run build
        continue-on-error: false